<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Contact Me</h1>
    <hr>
    <p>
        I am always interested in job opportunities and looking for new ways to expand my skillset. 
        Please feel free to contact me by <a href="mailto:zach.smith2171@gmail.com" target="_blank">E-mail</a> or 
        through <a href="https://www.linkedin.com/in/zach-s-smith/" target="_blank">LinkedIn</a>.
    </p>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>